# GDMA Project
Author: Julian Schelb (1069967)

In [9]:
from neo4j import GraphDatabase
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

### Connection to the database instance

In [10]:
driver = GraphDatabase.driver("bolt://localhost:7687", auth=("neo4j", "subatomic-shrank-Respond"))
database_name = "cddb"
session = driver.session(database = database_name)

### Task 3: SQL to Cypher
Translate the following SQL queries to Cypher:

**Query 1:**

``` sql
SELECT DISTINCT artist
FROM artists
NATURAL JOIN artist2album
NATURAL JOIN cds
WHERE ayear = 2000
```

In [ ]:
query = """
MATCH (ar:Artist)-[r:CONTRIBUTED_TO]->(ab:Album),
(g:Genre)<-[r2:BELONGS_TO]-(cd:CD)-[r3:CONTAINS]->(ab)
WHERE g.genre = "rock"
WITH DISTINCT ar.artist as artist, count(DISTINCT ab.album) as albums_released
WHERE albums_released >= 5
RETURN artist, albums_released
ORDER BY albums_released DESC
"""
        
dtf_data = pd.DataFrame([dict(_) for _ in session.run(query)])
dtf_data

           artist  albums_released
0    jimi hendrix               30
1           queen               30
2    eric clapton               26
3              u2               23
4             b'z               22
..            ...              ...
147           tmn                5
148    shu-bi-dua                5
149       godiego                5
150     radiohead                5
151         cream                5

[152 rows x 2 columns]