# GDMA Project
Author: Julian Schelb (1069967)

In [48]:
from neo4j import GraphDatabase
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

### Connection to the database instance

In [49]:
driver = GraphDatabase.driver("bolt://localhost:7687", auth=("neo4j", "subatomic-shrank-Respond"))
database_name = "cddb"
session = driver.session(database = database_name)

Failed to write data to connection IPv4Address(('localhost', 7687)) (IPv4Address(('127.0.0.1', 7687)))

### Task 4: Searching and Ranking

Implement a simple search engine that enables search by artist, album and
song name/title. The results must be ranked based on importance. It is up to
you to come up with how the importance of each result is computed and you
must justify your decision (it goes without saying that you need to come up
with a meaningful definition). However, the importance should ideally take into
account user preferences/likes. As such, this task is split in two parts:

**1. Write a Cypher query that adds a relationship :LIKES between a node with**

label :User and an artist, album, or song. Every user should be identified
just by a numerical userID (no more information is necessary). If a user
already exists in the system, no additional node should be added. After
coming up with the necessary Cypher query, add a significant number of
users and likes.

**2. Implement a simple Python function that has the following arguments:**

- the userID of the user submitting the search (the user ID may not
exist in the database),
- a string that contains one or more keywords for the search, and
- an optional argument that indicates whether the search is on all or
a specific field, i.e., artist, album, song.
The search must return exactly 10 results.

Python must only be used to call the database. You should not write any
code in Python that implements functionality necessary for the task. However,
submitting multiple queries in the same function call is allowed. Also, for this
task of the project, you are not only allowed but also encouraged to use functions
from the GDS library of Neo4j. Hence, before making any decisions, have a
careful look at the available functions. Again, you have to justify the use of any
function that you employ

In [50]:
query = """
MATCH (c:CD)-[r:CONTAINS]->(ar:Artist)
WHERE c.ayear = 2000
RETURN DISTINCT ar.artist
"""
        
dtf_data = pd.DataFrame([dict(_) for _ in session.run(query)])
dtf_data

                  ar.artist
0     the frequency benders
1               boyz ii men
2        adriana calcanhoto
3               syl johnson
4            cheo feliciano
...                     ...
5619         garry harrison
5620   catuaba com amendoim
5621          jimmy powells
5622              ofra haza
5623        michael flatley

[5624 rows x 1 columns]

#### Processing

**Ideas:** 

Inplicit Meassures (to avoid cold start problem):
- Centrality in subgraph of artists, albums, songs according to search input (Use exact match and partial match) (and maybe liked nodes?)
    1) Select Subgraph by filtering artbist, albums and songs by input
    2) Calculate centrality (Multiple meassures)
    3) Cd with higher centrality is considered better
    

User Preference:

- Use Nod2Vec Embedding to compute Similarity to already liked Nodes:
    1) Include similar nodes to already liked ones
    2) Average similarity of artists/albums/sing nodes ... compared to previous likes
- Use average Distance to liked Nodes. (basically already included)
- centrality in the subgraph ob liked nodes (basically already included)

Output:

cd id, contained songs, contained artists, contained albums, centralities, cumulated scores

#### Adding Example Users

**Function to create Example User:**

In [51]:
def createExampleUser(user_id = 1, genre = "rock", limit = 50):
    
    ####### DELETE USER NODE #######
    query1 = """
    MATCH (u:User)
    WHERE u.id = $user_id
    DETACH DELETE u
    """
    
    ####### CREATE USER NODE #######
    query2 = """
    MERGE (u:User {id:  $user_id})
    RETURN u.id as user_id
    """
    
    ####### LINK TO LIKED SONGS #######
    query3 = """
    MATCH (g:Genre)<-[r:BELONGS_TO]-(c:CD)
    MATCH (c)-[r2:CONTAINS]->(s:Song)
    WHERE g.genre = $genre
    WITH s 
    LIMIT $limit
    MATCH (u:User)
    WHERE u.id = $user_id
    MERGE (u)-[r3:LIKES]->(s)
    """
    
    ####### LINK TO LIKED ARTISTS #######
    query4 = """
    MATCH (g:Genre)<-[r:BELONGS_TO]-(c:CD)
    MATCH (c)-[r2:CONTAINS]->(t:Artist)
    WHERE g.genre = $genre
    WITH t 
    LIMIT $limit
    MATCH (u:User)
    WHERE u.id = $user_id
    MERGE (u)-[r3:LIKES]->(t)
    """
    
    ####### LINK TO LIKED ALBUMS #######
    query5 = """
    MATCH (g:Genre)<-[r:BELONGS_TO]-(c:CD)
    MATCH (c)-[r2:CONTAINS]->(t:Album)
    WHERE g.genre = $genre
    WITH t 
    LIMIT $limit
    MATCH (u:User)
    WHERE u.id = $user_id
    MERGE (u)-[r3:LIKES]->(t)
    """

    with driver.session(database = database_name) as session:
        session.run(query1, user_id = user_id)
        session.run(query2, user_id = user_id)
        session.run(query3, user_id = user_id, genre = genre, limit = limit)
        session.run(query4, user_id = user_id, genre = genre, limit = limit)
        session.run(query5, user_id = user_id, genre = genre, limit = limit)

**Adding some Likes to model User Preference:**

In [52]:
# User 1 likes "Rock" music
createExampleUser(user_id = 1, genre = "rock", limit = 5)
# User 2 likes "classic" music
createExampleUser(user_id = 2, genre = "classic", limit = 5)

***

#### Implementing Search Engine

##### Feature 1: User Preference

In [59]:
query = """
// DELETE EXISTING PROJECTION
CALL gds.graph.drop('searchdomain', false) 
YIELD graphName 
RETURN graphName
"""

dtf_data = pd.DataFrame([dict(_) for _ in session.run(query)])
dtf_data

      graphName
0  searchdomain

In [60]:
query = """
// CREATE NEW PROJECTION WITH SEARCH RELEVANT SUB GRAPH
CALL gds.graph.project.cypher(
  'searchdomain',
  ' // Liked Artists, Albums and Songs
    MATCH (u:User)-[:LIKES]->(n) 
    WHERE u.id = 2 
        AND (n:Song OR n:Album OR n:Artist) 
    RETURN id(n) AS id, labels(n) AS labels 
    LIMIT 1000
    
    UNION
    
    // CDs linked to liked Artists, Albums and Songs
    MATCH (u:User)-[:LIKES]->(x)-[:APPEARED_ON]->(n:CD) 
    WHERE u.id = 2  
    RETURN id(n) AS id, labels(n) AS labels 
    LIMIT 1000',
    
    'MATCH (u:User)-[:LIKES]->(n)
    WHERE u.id = 2 
    AND (n:CD OR n:Song OR n:Album OR n:Artist) 
    MATCH (n)-[r:APPEARED_ON]->(m:CD) 
    RETURN id(n) AS source, id(m) AS target, type(r) AS type 
    LIMIT 1000' 
)
YIELD
  graphName, nodeCount AS nodes, relationshipCount AS rels
RETURN graphName, nodes, rels
"""

dtf_data = pd.DataFrame([dict(_) for _ in session.run(query)])
dtf_data

      graphName  nodes  rels
0  searchdomain    543   588

In [61]:
# https://neo4j.com/docs/graph-data-science/current/algorithms/eigenvector-centrality/
query = """
CALL gds.eigenvector.mutate('searchdomain',  {
  mutateProperty: 'score_eig'
})
YIELD centralityDistribution, nodePropertiesWritten, ranIterations
RETURN centralityDistribution.min AS minimumScore, centralityDistribution.mean AS meanScore, nodePropertiesWritten
"""
dtf_data = pd.DataFrame([dict(_) for _ in session.run(query)])
dtf_data.head(30)

   minimumScore  meanScore  nodePropertiesWritten
0      0.001585   0.039727                    543

In [62]:
# https://neo4j.com/docs/graph-data-science/current/algorithms/closeness-centrality/#algorithms-closeness-centrality-examples-mutate
query = """
CALL gds.beta.closeness.mutate('searchdomain',  {
  mutateProperty: 'score_cln'
})
YIELD centralityDistribution, nodePropertiesWritten
RETURN centralityDistribution.min AS minimumScore, centralityDistribution.mean AS meanScore, nodePropertiesWritten
"""
dtf_data = pd.DataFrame([dict(_) for _ in session.run(query)])
dtf_data.head(30)

   minimumScore  meanScore  nodePropertiesWritten
0           0.0   0.972376                    543

In [63]:
# https://neo4j.com/docs/graph-data-science/current/algorithms/degree-centrality/
query = """
CALL gds.degree.mutate('searchdomain',  {
  mutateProperty: 'score_deg'
})
YIELD centralityDistribution, nodePropertiesWritten
RETURN centralityDistribution.min AS minimumScore, centralityDistribution.mean AS meanScore, nodePropertiesWritten
"""
dtf_data = pd.DataFrame([dict(_) for _ in session.run(query)])
dtf_data.head(30)

   minimumScore  meanScore  nodePropertiesWritten
0           0.0   1.082876                    543

In [ ]:
query = """
CALL gds.graph.streamNodeProperty('searchdomain', 'score_eig')
YIELD nodeId, propertyValue

CALL gds.graph.streamNodeProperty('searchdomain', 'score_deg')
YIELD nodeId as nodeId_deg, propertyValue as propertyValue_deg

CALL gds.graph.streamNodeProperty('searchdomain', 'score_cln')
YIELD nodeId as nodeId_cln, propertyValue as propertyValue_cln

WHERE nodeId = nodeId_deg AND nodeId = nodeId_cln 
RETURN gds.util.asNode(nodeId).id AS id, 
propertyValue AS score, 
propertyValue_deg,
propertyValue_cln
ORDER BY propertyValue_deg DESC
"""
dtf_data = pd.DataFrame([dict(_) for _ in session.run(query)])
dtf_data.head(30)

In [79]:
query = """
CALL gds.eigenvector.stream('searchdomain')
YIELD nodeId, score
WITH gds.util.asNode(nodeId).id AS nodeId, score
MATCH (n:CD)-[r:CONTAINS]->(a:Artist)
WHERE n.id = nodeId
SET n.eigenvector = score
RETURN n.id, score, 
collect(a.artist) as artists
ORDER BY score DESC
"""
dtf_data = pd.DataFrame([dict(_) for _ in session.run(query)])
dtf_data.head(30)

      n.id     score                                          artists
0    50271  0.177700                           [ludwig van beethoven]
1   125757  0.142477        [bach j.s - mozart w.a. - rachmaninov s.]
2   110015  0.107254                           [ludwig van beethoven]
3    51796  0.107254                           [ludwig van beethoven]
4    50278  0.107254                           [ludwig van beethoven]
5    50479  0.107254                           [ludwig van beethoven]
6    47774  0.107254                           [ludwig van beethoven]
7    54951  0.107254                           [ludwig van beethoven]
8    48320  0.107254                           [ludwig van beethoven]
9    48130  0.107254                           [ludwig van beethoven]
10   43464  0.107254                           [ludwig van beethoven]
11   48321  0.107254                           [ludwig van beethoven]
12   48128  0.107254                           [ludwig van beethoven]
13   45251  0.107254                           [ludwig van beethoven]
14   49478  0.107254                           [ludwig van beethoven]
15  129040  0.072031                                     [erik satie]
16   49501  0.072031                                     [erik satie]
17  131914  0.072031                                 [lorenzo perosi]
18  123568  0.072031                                 [stamic quartet]
19   50039  0.072031  [beethoven - karajan - berliner philharmoniker]
20   50279  0.072031                                    [seiji ozawa]
21   51773  0.072031                                      [beethoven]
22   50099  0.072031                       [beethoven - furtwaengler]
23   54292  0.072031                 [abbado and berlin philharmonic]
24   51610  0.072031                          [beethoven, ludwig van]
25   53377  0.072031   [berliner philharmoniker, herbert von karajan]
26   50704  0.072031                                      [beethoven]
27   47943  0.072031                           [ludwig van beethoven]
28   47525  0.072031                           [ludwig van beethoven]
29   47964  0.072031                           [ludwig van beethoven]

##### Feature 2: Content Match with Search Input

In [75]:
query = """
// DELETE EXISTING PROJECTION
CALL gds.graph.drop('searchdomain_content', false) 
YIELD graphName 
RETURN graphName
"""

dtf_data = pd.DataFrame([dict(_) for _ in session.run(query)])
dtf_data

              graphName
0  searchdomain_content

In [77]:
query = """
// CREATE NEW PROJECTION WITH SEARCH RELEVANT SUB GRAPH
CALL gds.graph.project.cypher(
  "searchdomain_content",
  
  " // Artists, Albums and Songs which match query
    MATCH (n) 
    WHERE 
    (n:Song OR n:Album OR n:Artist) 
    AND 
    (n.artist =~ \'.*jimi hendrix.*\' 
    OR n.album  =~ '.*Are You Experienced.*' 
    OR n.song  =~ '.*purple haze.*')
    RETURN id(n) AS id, labels(n) AS labels 
    LIMIT 1000
    
    UNION
    
    // CDS linked to Artists, Albums and Songs which match query
    MATCH (n)-[:APPEARED_ON]->(c:CD) 
    WHERE 
    (n:Song OR n:Album OR n:Artist) 
    AND 
    (n.artist =~ '.*jimi hendrix.*' 
    OR n.album  =~ '.*Are You Experienced.*' 
    OR n.song  =~ '.*purple haze.*')
    RETURN id(c) AS id, labels(c) AS labels 
    LIMIT 1000",
    
    "MATCH (n)-[r:APPEARED_ON]->(c:CD) 
    WHERE 
    (n:Song OR n:Album OR n:Artist) 
    AND 
    (n.artist =~ '.*jimi hendrix.*' 
    OR n.album  =~ '.*Are You Experienced.*' 
    OR n.song  =~ '.*purple haze.*')
    RETURN id(n) AS source, id(c) AS target, type(r) AS type 
    LIMIT 1000"
)
YIELD
  graphName, nodeCount AS nodes, relationshipCount AS rels
RETURN graphName, nodes, rels
"""


dtf_data = pd.DataFrame([dict(_) for _ in session.run(query)]) 
dtf_data

              graphName  nodes  rels
0  searchdomain_content    140   162

In [78]:
query = """
CALL gds.eigenvector.stream('searchdomain_content')
YIELD nodeId, score
WITH gds.util.asNode(nodeId).id AS nodeId, score
MATCH (n:CD)-[r:CONTAINS]->(a:Artist)
WHERE n.id = nodeId
SET n.eigenvector = score
RETURN n.id, score, 
collect(a.artist) as artists
ORDER BY score DESC
"""
dtf_data = pd.DataFrame([dict(_) for _ in session.run(query)])
dtf_data.head(30)

      n.id     score                        artists
0     7923  0.301122              [signature licks]
1    33321  0.181730                 [jimi hendrix]
2    30138  0.181730                 [jimi hendrix]
3    20709  0.181730      [jimi hendrix experience]
4     9197  0.122034  [the jimi hendrix experience]
5    14391  0.122034  [the jimi hendrix experience]
6     8660  0.122034  [the jimi hendrix experience]
7      452  0.122034  [the jimi hendrix experience]
8   136907  0.122034                 [jimi hendrix]
9   164258  0.122034                 [jimi hendrix]
10  162186  0.122034                 [jimi hendrix]
11   46232  0.122034                 [jimi hendrix]
12   35582  0.122034                 [jimi hendrix]
13   35129  0.122034                 [jimi hendrix]
14   35764  0.122034                 [jimi hendrix]
15   30933  0.122034                 [jimi hendrix]
16   28761  0.122034                 [jimi hendrix]
17   23144  0.122034                 [jimi hendrix]
18   15666  0.122034                 [jimi hendrix]
19   20222  0.122034                 [jimi hendrix]
20   12719  0.122034                 [jimi hendrix]
21   20896  0.122034                 [jimi hendrix]
22   12202  0.122034                 [jimi hendrix]
23   14428  0.122034                 [jimi hendrix]
24  162149  0.122034                 [jimi hendrix]
25    1306  0.122034                 [jimi hendrix]
26    1936  0.122034                 [jimi hendrix]
27   38310  0.122034                 [jimi hendrix]
28     529  0.122034                 [jimi hendrix]
29    3129  0.122034                 [jimi hendrix]

Node Embeddings:

In [ ]:
CALL gds.beta.node2vec.stream('cdRanking', {embeddingDimension: 2})
YIELD nodeId, embedding
RETURN nodeId, embedding

In [ ]:
CALL gds.fastRP.stream('cdRanking',
  {
    embeddingDimension: 4,
    randomSeed: 42
  }
)
YIELD nodeId, embedding

In [ ]:
#https://neo4j.com/docs/graph-data-science/current/graph-project-cypher/

MATCH (n)
WHERE n.age < 20 AND NOT n.name STARTS WITH "V"
WITH collect(n) AS olderPersons
CALL gds.graph.project.cypher(
  'personSubsetViaParameters',
  'UNWIND $nodes AS n RETURN id(n) AS id, labels(n) AS labels',
  'MATCH (n)-[r:KNOWS]->(m)
    WHERE (n IN $nodes) AND (m IN $nodes)
    RETURN id(n) AS source, id(m) AS target, type(r) AS type, r.numberOfPages AS numberOfPages',
  { parameters: { nodes: olderPersons} }
)
 YIELD
  graphName, nodeCount AS nodes, relationshipCount AS rels
 RETURN graphName, nodes, rels